

#content-wrapper{
    position: relative;
    width:100%;
    max-width: 100%;
    overflow-y: hidden;
    min-height: 90vh;
}
#content-wrapper {
    padding-bottom: 200px;
}
#footer-wrapper{
    position: relative;
    bottom: 0;
}
#page-content{
   margin-top: 5%;
   width:98%;
   margin-left:1%;
   min-height:40vh;
}
#newKeyModal{
    width:60%;
    margin-left: 20%;
    margin-top: 5%;
}
#newKeyModal button{
     width: 40%;
     margin-left: 30%;
}