{% load static %}

<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autheticate</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/authenticate.css' %}">

</head>



<body>
   
    <section id="page-wrap" >
        
       <div id="autheticate-section" class="shadow-lg p-4">
           <div class="text-center">
            <img src="{% static 'images/LOGO PAINEL DE PRECOS 4.png' %}" >
           </div>

         <!-- Password Reset   -->
         <div id="passwordReset" class="m-3">
            {% if tokenValid is False and resetForm is True %}
            <!-- Token is invalid -->
             <div id="password-reset-status" class="alert alert-danger text-center">Seu token de recuperação é inválido ou expirou. Use o formulário abaixo para solicitar um novo token</div>
           
             
             <div>
                <form id="recoveryForm">
                    <div id="recoveryFormStatus" class="d-none"></div>
                    <div class="form-group pt-1">
                      <label for="accountEmail" title="This field is required">Endereço de e-mail <span  class="text-danger"><sup>*</sup></span></label>
                      <input type="email" name="email" required class="form-control" id="accountEmail" aria-describedby="emailHelp" placeholder="Digite o endereço de e-mail associado à sua conta">
                      <small id="emailHelp" class="form-text text-muted">Enviaremos instruções para redefinir a senha para este e-mail</small>
                     </div>
                    <button id="recoveryFormBtn" type="submit" class="btn btn-success text-center">Enviar</button>
                </form>
      
              </div>
              {% endif %}
              <!-- token is invalid ends -->


                <!-- Password Reset Form -->
              {% if resetForm is True and tokenValid is True %}

                <div id="passwordResetForm" >
                    <form>
                        <div class="bg-secondary text-light p-1 mb-4 text-center" style="font-weight: bold;">Formulário de atualização de senha</div>
                        <div id="passwordResetFormStatus" class="d-none"></div>

                        <input type="text" name="action" class="d-none" value="reset-password">
                        <input class="d-none" name="token" value="sometoken" type="text">
                        <div class="form-group pt-1">
                          <label for="accountPasswordReset" title="This field is required">Nova Senha <span  class="text-danger"><sup>*</sup></span></label>
                          <div class="input-group">
                            <input type="password" name="password-reset" required min="6" class="form-control" id="accountPasswordReset" aria-describedby="passwordHelp" placeholder="Digite a senha">
    
                            <div class="input-group-append">
                                <button class="btn showPassword " type="button" ><i class="fa fa-eye"></i></button>
                            </div>
                        </div>
                        <small id="passwordHelp" class="form-text text-muted">A senha deve ter pelo menos 6 caracteres e incluir letras e números</small>
                      
                     
                        </div>
                        <div class="form-group pt-1">
                          <label for="accountPasswordConfirmReset" title="This field is required">Confirme a Senha <span  class="text-danger"><sup>*</sup></span></label>
                          <div class="input-group">
                            <input type="password" name="password-reset-confirm" required min="6" class="form-control" id="accountPasswordConfirmReset" aria-describedby="passwordHelp" placeholder="Digite a senha">
    
                            <div class="input-group-append">
                                <button class="btn showPassword " type="button" ><i class="fa fa-eye"></i></button>
                            </div>
                        </div>
                        <small id="passwordHelp" class="form-text text-muted">A senha deve corresponder à senha desejada</small>
                      
                     
                         </div>
                        <button id="passwordResetButton" type="submit" class="btn btn-success text-center">Enviar</button>
                    </form>
                    </div>

                {% endif %}

         </div>
      
         
        {% if authentication is True %}  
        <div id="authenticate-toogler" style="font-size: large;" class="bg-light  text-dark  border-bottom border-primary border-top" ><button id="loginToggleBtn" class="btn btn-primary btn-sm">Conecte-se <i class="fa-solid fa-right-to-bracket"></i><button id="signupToggleBtn" class="btn btn-danger btn-sm">Inscrever-se <i class="fa-solid fa-user-plus"></i></button> </div>
        <div   id="loginForm">
           <div class="bg-light d-none p-2 text-center">Faça login na sua conta</div>
           <form>
               <div id="loginState"></div>
                <div class="form-group pt-1">
                     <label for="userEmail" title="This field is required">Endereço de e-mail <span  class="text-danger"><sup>*</sup></span></label>
                     <input type="email" name="email" required class="form-control" id="userEmail" aria-describedby="emailHelp" placeholder="Enter email">
                     <small id="emailHelp" class="form-text text-muted">Nunca compartilharemos seu e-mail com mais ninguém.</small>
                </div>  
                <div class="form-group pt-2">
                    <label for="userPassword" title="This field is required">Senha <span class="text-danger"><sup>*</sup></span></label>
                    <div class="input-group">
                        <input type="password" name="password" required min="6" class="form-control" id="userPassword" aria-describedby="passwordHelp" placeholder="Digite a senha">

                        <div class="input-group-append">
                            <button class="btn showPassword " type="button" ><i class="fa fa-eye"></i></button>
                        </div>
                    </div>
                    <small id="passwordHelp" class="form-text text-muted">A senha deve ter pelo menos 6 caracteres e incluir letras e números</small>
                  
             </div>
             
             <button id="loginButton" type="submit" class="btn btn-success text-center">Conecte-se</button>


                 
           </form>
           <a href="#" id="triggerForgotPassword" >Esqueceu a senha ?</a>
           
        </div>
        
        <div class="d-none" id="signupForm">
            <div class="bg-light d-none p-2 text-center">Crie a sua conta aqui</div>
            <form>
                <div id="signupState"></div>
                <div class="form-group pt-1">
                    <label for="userFullName" title="This field is required">Nome completo <span  class="text-danger"><sup>*</sup></span></label>
                    <input type="text" name="new-user-full-name" required class="form-control" id="userFullName" aria-describedby="userFullNameHelp" placeholder="Digite o nome completo">
                    
               </div>
                 <div class="form-group pt-1">
                      <label for="userEmailRegister" title="This field is required">Endereço de e-mail <span  class="text-danger"><sup>*</sup></span></label>
                      <input type="email" name="new-user-email" required class="form-control" id="userEmailREgister" aria-describedby="emailHelp" placeholder="Digite o e-mail">
                      <small id="emailHelp" class="form-text text-muted">Nunca compartilharemos seu e-mail com mais ninguém.</small>
                 </div>  
                 <div class="form-group pt-1">
                     <label for="userPasswordRegister" title="This field is required">Senha <span class="text-danger"><sup>*</sup></span></label>
                     <div class="input-group">
                         <input type="password" name="new-user-password" required min="6" class="form-control" id="userPasswordRegister" aria-describedby="passwordHelp" placeholder="Digite a senha">
 
                         <div class="input-group-append">
                             <button class="btn showPassword" type="button" ><i class="fa fa-eye"></i></button>
                         </div>
                     </div>
                     <small id="passwordHelp" class="form-text text-muted">A senha deve ter pelo menos 6 caracteres e incluir letras e números</small>
                   
              </div>
              <div class="form-group pt-1">
                <label for="userPasswordConfirm" title="This field is required">Confirme a Senha <span class="text-danger"><sup>*</sup></span></label>
                <div class="input-group">
                    <input type="password" name="new-user-password-confirm" required min="6" class="form-control" id="userPasswordConfirm" aria-describedby="passwordHelp" placeholder="Confirme a Senha">

                    <div class="input-group-append">
                        <button class="btn showPassword " type="button" ><i class="fa fa-eye"></i></button>
                    </div>
                </div>
                <small id="passwordConfirmHelp" class="form-text text-muted">A senha de confirmação DEVE corresponder à senha desejada</small>
              
         </div>
              
              <button id="signupButton" type="submit" class="btn btn-success text-center">Registro</button>
                  
            </form>
         </div>  

         <div id="recoveryForm" class="d-none" >
            <form >
                <div id="recoveryFormStatus" class="d-none"></div>
                <div class="form-group pt-1">
                  <label for="accountEmail" title="This field is required">Endereço de e-mail <span  class="text-danger"><sup>*</sup></span></label>
                  <input type="email" name="email" required class="form-control" id="accountEmail" aria-describedby="emailHelp" placeholder="Digite o endereço de e-mail associado à sua conta">
                  <small id="emailHelp" class="form-text text-muted">Enviaremos instruções para redefinir a senha para este e-mail</small>
                 </div>
                <button id="recoveryFormBtn" type="submit" class="btn btn-success text-center">Enviar</button>
            </form>
  
          </div>
        {% endif %}
       
    
       </div>

    </section>

   
    

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/js/all.min.js"></script>
<script>
  $('document').ready(()=>{

    //toggle showing login and signup,forgot password forms
    $('#loginToggleBtn').click(function(){
        $('#loginForm').removeClass('d-none');
        $('#signupForm').addClass('d-none');
        $('#recoveryForm').addClass('d-none')
        this.style.border = "1px solid gray"

    });

    $('#signupToggleBtn').click(function(){
        $('#signupForm').removeClass('d-none');
        $('#loginForm').addClass('d-none');
        $('#recoveryForm').addClass('d-none')
        this.style.border = "1px solid gray"
    });
    $("#triggerForgotPassword").click(function(){

        $('#recoveryForm').removeClass('d-none')
        $('#signupForm').addClass('d-none');
        $('#loginForm').addClass('d-none');

    })

   //toggle between showing password and not
   let passwordTogglers = document.querySelectorAll('.showPassword')

   passwordTogglers.forEach(toggler => {
       toggler.addEventListener('click', function(){
           let passwordInput = this.parentElement.parentElement.children[0]
           if(passwordInput.type === 'password'){
               passwordInput.type = 'text'
               this.children[0].classList.remove('fa-eye')
               this.children[0].classList.add('fa-eye-slash')
           }else{
               passwordInput.type = 'password'
               this.children[0].classList.remove('fa-eye-slash')
               this.children[0].classList.add('fa-eye')
           }
       })
   });


   //confirm password strength
    let passwordInput = document.querySelectorAll('input[type=password]')

    
    passwordInput.forEach(function(passwordField){
        passwordField.addEventListener('keyup',function(){
            let password = this.value
      
            if (password.length < 6 && /[0-9]/gi.test(password)==false || /[a-zA-Z]/gi.test(password)==false){

                this.style.borderColor = 'red'
            }else{
                this.style.borderColor = 'green'
            }
            

            if (this.name == "new-user-password-confirm"){
                let newpassword = document.querySelector('input[name=new-user-password]')
                if (newpassword.value != password){
                    this.style.borderColor = 'red'
                }else{
                    this.style.borderColor = 'green'
                }
            
            }

            if (this.name == "password-reset-confirm"){
                let newpassword = document.querySelector('input[name=password-reset]')
                if (newpassword.value != password){
                    this.style.borderColor = 'red'
                }else{
                    this.style.borderColor = 'green'
                }
            
            }

           
        })

    })
  

    //loginForm processing
    $('#loginForm form').submit(function(e){
        e.preventDefault()
        let formInfo = $('#loginForm form').serialize()
        let loginState = $('#loginState')
        loginState.removeClass('d-none alert-danger').css({"font-weight":"bolder"}).addClass('alert alert-info').html('Processando sua solicitação <div  class="spinner-border spinner-border-sm text-primary" role="status"><span class="sr-only"></span></div>')
         
           
        //post ,if error, display error message
        $.post('/accounts/login/', formInfo, function(data){
            $('#loginForm form')[0].reset()    
            let loginRedirect = sessionStorage.getItem('loginRedirect')
                
                loginState.removeClass('d-none alert-info alert-danger').css({"font-weight":"bolder"}).addClass('alert alert-success').html('Login bem-sucedido. Redirecionando...')
                 if (loginRedirect){
                     window.location.href = String(loginRedirect)
                    }else{
                 setTimeout(()=>{
                     window.location.href = '/accounts/dashboard/'
                 },700)
                }
        }).catch(function(err){
            let errorMessage = ''
            if(err.status == 500){
                loginState.removeClass('d-none alert-info alert-sucess').css({"font-weight":"bolder"}).addClass('alert alert-danger').html("<div style='font-size:small'>Não podemos concluir sua solicitação neste momento. Por favor, tente novamente mais tarde ou entre em contato com o administrador do suporte através do :<br> <b>support[at]painelconstru.com.br</b> </div>")
         
            }else{ 
                try {
                errorMessage = String(err.responseJSON.errors)
                } catch (error) {
                    errorMessage = "Um erro ocorreu. Por favor, tente novamente mais tarde"
                }
            
                if (errorMessage == ""){
                    errorMessage = "Um erro ocorreu. Por favor, tente novamente mais tarde"
                }
                loginState.removeClass('d-none').css({"font-weight":"bolder"}).addClass('alert alert-danger').html(errorMessage)
            }
        })
    })


    //signup processing
    $('#signupForm form').submit(function(e){
        e.preventDefault()
        let formInfo = $('#signupForm form').serialize()
        let signupState = $('#signupState')
        signupState.removeClass('d-none alert-danger').css({"font-weight":"bolder"}).addClass('alert alert-info').html(`Processando sua solicitação <div  class="spinner-border spinner-border-sm text-primary" role="status"><span class="sr-only"></span></div>`)
         
       // setTimeout(()=>{
          //          window.location.href = '/accounts/suppliers/profile.html'
            //    },2000)
        //post ,if error, display error message
        $.post('/accounts/signup/', formInfo, function(data){

                signupState.removeClass('d-none alert-info alert-danger').css({"font-weight":"bolder"}).addClass('alert alert-success').html('O registo foi bem sucedido! Enviamos a você um e-mail com mais instruções para concluir seu registro.')
                $('#signupForm form')[0].reset()
          
        }).catch(function(err){
            if(err.status == 500){
                signupState.removeClass('d-none alert-info alert-sucess').css({"font-weight":"bolder"}).addClass('alert alert-danger').html("<div style='font-size:small'>Não podemos concluir sua solicitação neste momento. Por favor, tente novamente mais tarde ou entre em contato com o administrador do suporte através do :<br> <b>support[at]painelconstru.com.br</b> </div>")
         
            }else{

            
            let errorMessage  =''
            try {
               errorMessage = String(err.responseJSON.errors)
            } catch (error) {
                errorMessage = "Um erro ocorreu. Por favor, tente novamente mais tarde"
            }
          
            if (errorMessage == ""){
                errorMessage = "Um erro ocorreu. Por favor, tente novamente mais tarde"
            }
            signupState.removeClass('d-none alert-info alert-sucess').css({"font-weight":"bolder"}).addClass('alert alert-danger').html(errorMessage)
           }
        })
    })

    
   //process password recoveryForm
   $('#recoveryForm form').submit(function(e){
       e.preventDefault()
      let formData = $('#recoveryForm form').serialize() 
      let formstate = $("#recoveryFormStatus")
      formstate.removeClass('d-none').css({"font-weight":"bolder"}).addClass('alert alert-info').html(`Processando sua solicitação  <div  class="spinner-border spinner-border-sm text-primary" role="status"><span class="sr-only"></span></div>`)
      $.post('/accounts/recover/', formData, function(data){

        formstate.removeClass('d-none').css({"font-weight":"bolder"}).addClass('alert alert-success').html('Sucesso! Enviamos a você um e-mail com mais instruções para redefinir sua conta.')
        $('#recoveryForm form')[0].reset()

        }).catch(function(err){


            let errorMessage = ''
            if(err.status == 500){
                formstate.removeClass('d-none alert-info alert-sucess').css({"font-weight":"bolder"}).addClass('alert alert-danger').html("<div style='font-size:small'>Não podemos concluir sua solicitação neste momento. Por favor, tente novamente mais tarde ou entre em contato com o administrador do suporte através do :<br> <b>support[at]painelconstru.com.br</b> </div>")
         
            }else{ 
                try {
                errorMessage = String(err.responseJSON.errors)
                } catch (error) {
                    errorMessage = "Um erro ocorreu. Por favor, tente novamente mais tarde"
                }
            
                if (errorMessage == ""){
                    errorMessage = "Um erro ocorreu. Por favor, tente novamente mais tarde"
                }
                formstate.removeClass('d-none').css({"font-weight":"bolder"}).addClass('alert alert-danger').html(errorMessage)
            }

        })
       


   })
     

  //process resting of password
  $("#passwordResetForm form").submit(function(e){
    e.preventDefault()
        let formInfo = $("#passwordResetForm form").serialize()
        let formState = $('#passwordResetFormStatus')
        formState.removeClass('d-none').css({"font-weight":"bolder"}).addClass('alert alert-info').html('Processando sua solicitação <div  class="spinner-border spinner-border-sm text-primary" role="status"><span class="sr-only"></span></div>')
        
        //post ,if error, display error message
        $.post('/accounts/reset/password/', formInfo, function(data){

                formState.removeClass('d-none').css({"font-weight":"bolder"}).addClass('alert alert-success').html('Sua senha foi atualizada com sucesso. Use sua nova senha no próximo Login.')
                $("#passwordResetForm form")[0].reset()
                window.location.href = '/logout'
          
        }).catch(function(err){
         
            let errorMessage = ''
            if(err.status == 500){
                formState.removeClass('d-none alert-info alert-sucess').css({"font-weight":"bolder"}).addClass('alert alert-danger').html("<div style='font-size:small'>Não podemos concluir sua solicitação neste momento. Por favor, tente novamente mais tarde ou entre em contato com o administrador do suporte através do :<br> <b>support[at]painelconstru.com.br</b> </div>")
         
            }else{ 
                try {
                errorMessage = String(err.responseJSON.errors)
                } catch (error) {
                    errorMessage = "Um erro ocorreu. Por favor, tente novamente mais tarde"
                }
            
                if (errorMessage == ""){
                    errorMessage = "Um erro ocorreu. Por favor, tente novamente mais tarde"
                }
                formState.removeClass('d-none').css({"font-weight":"bolder"}).addClass('alert alert-danger').html(errorMessage)
            }
         
        })
  }) 


 








  })

</script>

</div>
</body>
</html>