 {% load  static %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daudt Apis</title>
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
  <div class="page-wrapper ">

        <div id="content-wrapper">
                    <nav class="navbar border-bottom border-dark navbar-expand-sm bg-white ">

                        <!-- Links -->
                        <ul class="navbar-nav">
                        <li class="nav-item text-danger">
                            <a class="nav-link" href="">Welcome Admin</a>
                        </li>
                   
                    
                        </ul>
                    
                    </nav>


                    <div  id="page-content" class="border  p-2">
                    <button data-toggle="modal" id="createKeyBTN" data-target="#newKeyModal" class="btn mb-3 mt-4 btn-info btn-sm font-weight-bold  p-1">Create new API Keys</button>
                    
                    <h5 class="text-success m-2 p-1 text-center font-weight-bold" style="text-decoration: underline;">Below are your API Keys</h5>
                    <table class="table table-responsive-md table-stripped text-center">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>API Key </th>
                                <th>Key Created On</th>
                                <th>Can Read</th>
                                <th>Can Insert</th>
                                <th>Can Update</th>
                                <th>Can Delete</th>
              
                                <th>Delete Key</th>
                                
                            </tr>
                        </thead>
   
                        
                        <!-- Keys here -->
                        <tbody>

                        </tbody>
                      

                    </table>
                    <div id="fetchKeys" class="alert alert-warning text-center p-1">Fetching Available Api Keys.Please wait <i class="fa fa-spin fa-spinner"></i> </div>


                  

                    </div>


                    <div class="modal" id="newKeyModal">
  
                            <div class="model-content bg-white">
                                <div class="modal-header text-right">
                                  
                                   <a class="btn btn-sm close" data-dismiss="modal">&times;</a>
                                </div>
                                <div class="modal-body">
                                 <form id="newAPIKeys" method="POST">
                                      <div class="p-1 text-info" style="font-size: large;text-decoration:underline">Use the Form Below to Create an API key</div>
                                      <div class="form-group">
                                        <label style="font-size: small;" class="pb-1 pl-1 mt-3 mb-0" for="apiuser_new">API User</label>  
                                        <input id="apiuser_new" name="apiuser_new" required class="form-control" type="text" placeholder="Api user Name i.e testuser">          
                                      </div>
            
                                      <div class="d-none form-group">
                                        <label style="font-size: small;" id="api_db_new_label" class="pb-1 pl-1 mt-1 mb-0" for="apiuser_new">Database Priviledged</label>
                                          <select multiple name="apidb_new" id="api_db_new" class="form-control">
                                              <option value="None">--Select Database(s) to  Give User Privildges To--</option>
                                              <option value="all" >All Databases</option>
                                              <option value="daudtP">Daudt_BD_Prices</option>
                                              <option value="djangoD">Daudt_Django</option>
                                              <option value="xyz">SOME_OTHER_DATABASE</option>
                                          </select>
            
                                      </div>
                    
                                      <div class="form-group">
                                          <div style="text-decoration:underline" class="text-info pb-1">Please check on the Appropriate Boxes Below to Give Permissions to this new user</div>
                                          <div class="form-check">
                                            <label class="form-check-label">
                                              <input name="api_priv_create" type="checkbox" class="form-check-input" value="1">INSERT 
                                            </label>
                                          </div>
                                       
                                          <div  class="form-check">
                                            <label class="form-check-label">
                                              <input name="api_priv_update" type="checkbox" class="form-check-input" value="1">UPDATE
                                            </label>
                                          </div>
                                          <div  class="form-check">
                                            <label class="form-check-label">
                                              <input name="api_priv_delete" type="checkbox" class="form-check-input" value="1">DELETE
                                            </label>
                                          </div>
            
                                      </div>
                                       <button class="btn btn-info btn-sm">Create Key</button>
                                      <div class="bg-success d-none text-center">Key for user1 has been created succesfully !<br>
                                       <span id="genKey" class="bg-white">72UJNSYDT73UEHWQJEQ7UEGWQJMN <span>Copy</span></span>   
                                      </div>
                                 </form>
                                </div>
                             
            
                         
            
                        </div>
            
                   </div>     
                    

        </div>
        <div id="footer-wrapper" class="bg-dark p-3">
           <h4 class="text-info text-center"> &copy; Daudt 2021</h4>
        </div>

  </div>
    

  <script src="{% static '/js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static '/js/bootstrap.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
  <script src="{% static '/js/index.js' %}"></script>
</body>
</html>