 {% load  static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painelconstru APIs Dashboard</title>
    <link rel="icon" href="https://painelconstru.com.br/static/images/favicon.ico" sizes="32x32" />
    <link rel="icon" href="https://painelconstru.com.br/static/images/favicon.ico" sizes="192x192" />
    <link rel="apple-touch-icon" href="https://painelconstru.com.br/static/images/favicon.ico" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <style>
      #navSection{
        background-color: #4A738c;
        height: 100px;
        color: white;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      
      }
      #navSection img{
          width: 250px;
          height: 80px;
      }
      #navSection div:nth-child(1){
          flex:0 0 50%;
      }
      #navSection div:nth-child(2){
          flex:0 0 45%;
          text-align: right;
     
      }
      #newsbar{
          background-color: #FFDE59;
          color:#293c73;
          text-align: center;
          font-size: x-large;
          font-weight: bold;
      }

      #contentSection{
          min-height: 80vh;
          width: 80%;
          margin-left: 10%;
          margin-top: 20px;
      }
   
  </style>
</head>
<body style="margin:0">
     <section id="navSection" >
         <div>
             <img src="{% static 'images/LOGO PAINEL DE PRECOS 3.png' %}" alt="Logo" >
         </div>

         <div>
             <a style="font-size: xx-large;" href="/admin/logout/" class="nav-link text-light">Logout  <i class="fa fa-arrow-alt-circle-right "></i></a>
         </div>
     </section>
     <div class="p-1" id="newsbar">Developer Dashboard</div>


     <section id="contentSection">
         <input type="text" class="d-none" id="activeKey">
         <button data-bs-toggle="modal" data-bs-target="#create-modal" class="btn m-3 btn-secondary">Create Key <i class="fa fa-plus-square"></i> </button>

         <div class="m-1 alert alert-warning" id="loadKeys">Fetching available keys. Please wait <div class="spinner-border spinner-border-sm" role="status"><span class="sr-only">Loading...</span> </div> </div>
         <table id="apis_table" class="table d-none table-responsive table-hover table-bordered">
              <thead>
                  <tr>
                      <th>User</th>
                      <th>Key</th>
                      <th class="text-center "><code>Super User</code></th>
                      <th class="text-center "><code>Select</code></th>
                      <th class="text-center "><code>Insert</code></th>
                      <th class="text-center "><code>Update</code></th>
                      <th class="text-center "><code>Delete</code></th>
                      <th></th> 
                      <th></th>
                  </tr>
              </thead>
              <tbody>
               
                  <!-- <tr>
                      <td> <input type="text" class="border-0 user text-center" value="Eric" disabled >  <button class="btn text-muted btn-light copybtn"><i class="fa fa-copy"></i></button> </td>
                      <td> <input disabled class="key text-center border-0" type="password" value="MyKey">  <button class="btn showkeybtn btn-light text-muted"><i class="fa fa-eye "></i> </button>  <button class="btn btn-light text-muted copybtn"><i class="fa fa-copy"></i></button>  </td>
                      <td data-user="Erico" data-key="test"> <button data-bs-toggle="modal"  class="btn btn-sm disabled" data-bs-target="#delete-modal">  <i class="fa text-info fa-pencil-alt"></i> </button> </td>
                      <td data-user="Erico" data-key="test"> <button data-bs-toggle="modal"  class="btn btn-sm  btn-light delete-modalbtn" data-bs-target="#delete-modal">   <i class="fa text-danger fa-trash-alt"></i> </button> </td>
                  </tr> -->
                
              </tbody>
         </table>
    
     </section>



     <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="delete-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Confirm Deletion</h5>
            
      
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete api key for <span id="currentUser"></span> ?</p>
            </div>
            <div class="modal-footer">
              <button id="delete-confirmed" type="button" class="btn btn-danger btn-primary">Yes</button>
              <button id="cancelDelete" type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
          </div>
        </div>
      </div>

       <!-- New API Key -->
      <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="create-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Create API key</h5>
            
      
            </div>
            <div class="modal-body">
                <form id="newKey">
                    <div class="state alert"><span class="text-info">Create a new API Key using the form below  :</span></div>
                    {% csrf_token %}
                    <div class="form-group m-2 p-1">
                        <label class="text-muted" for="api_user">Api user</label>
                        <input required minlength="3" type="text" class="form-control" name="api_user" id="api_user" placeholder="Api User">
                    </div>
                    <div class="form-group m-2 p-1">
                        <label class="text-muted" for="priviledge_read">can <code>SELECT</code></label>
                        <select required class="form-select" name="priviledge_read" id="priviledge_read">
                            <option value="false">No</option>
                            <option value="true">Yes</option>
                        </select>
                       
                    </div>
                    <div class="form-group m-2 p-1">
                        <label class="text-muted" for="priviledge_insert">can <code>INSERT</code></label>
                        <select required class="form-select" name="priviledge_insert" id="priviledge_insert">
                            <option value="false">No</option>
                            <option value="true">Yes</option>
                        </select>
                       
                    </div>
                    <div class="form-group m-2 p-1">
                        <label class="text-muted" for="priviledge_update">can <code>UPDATE</code></label>
                        <select required class="form-select" name="priviledge_update" id="priviledge_update">
                            <option value="false">No</option>
                            <option value="true">Yes</option>
                        </select>
                       
                    </div>
                    <div class="form-group m-2 p-1">
                        <label class="text-muted" for="priviledge_delete">can <code>DELETE</code></label>
                        <select required class="form-select" name="priviledge_delete" id="priviledge_delete">
                            <option value="false">No</option>
                            <option value="true">Yes</option>
                        </select>
                       
                    </div>

                    <div class="form-group m-2 p-1">
                        <label class="text-muted" for="priviledge_all"><code>IS SUPER USER</code></label>
                        <select required class="form-select" name="priviledge_all" id="priviledge_all">
                            <option value="false">No</option>
                            <option value="true">Yes</option>
                        </select>
                       
                    </div>
                    

                    
                </form>
           
            </div>
            <div class="modal-footer">
              <button id="create-confirmed" type="button" class="btn btn-danger btn-primary">Create</button>
              <button id="cancelCreate" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>


       <!-- Edit API Key -->
       <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="edit-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Edit API key for <span id="currentUserEdit"></span> </h5>
            
      
            </div>
            <div class="modal-body">
                <form  >
                    <div class="form-group m-2 p-1">
                        <label class="text-muted" for="api_user">Api user</label>
                        <input required type="text" class="form-control" name="edit_api_user" id="edit_api_user" placeholder="Api User">
                    </div>
                    <div class="form-group m-2 p-1">
                        <label class="text-muted" for="edit_priviledge_insert">can Insert</label>
                        <select required class="form-select" name="edit_priviledge_insert" id="edit_priviledge_insert">
                            <option value="false">No</option>
                            <option value="true">Yes</option>
                        </select>
                       
                    </div>
                    <div class="form-group m-2 p-1">
                        <label class="text-muted" for="edit_priviledge_update">can Update</label>
                        <select required class="form-select" name="edit_priviledge_update" id="edit_priviledge_update">
                            <option value="false">No</option>
                            <option value="true">Yes</option>
                        </select>
                       
                    </div>
                    <div class="form-group m-2 p-1">
                        <label class="text-muted" for="edit_priviledge_delete">can Delete</label>
                        <select required class="form-select" name="edit_priviledge_delete" id="edit_priviledge_delete">
                            <option value="false">No</option>
                            <option value="true">Yes</option>
                        </select>
                       
                    </div>
                    

                    
                </form>
           
            </div>
            <div class="modal-footer">
              <button id="edit-confirmed" type="button" class="btn btn-danger btn-primary">Create</button>
              <button id="cancelEdit" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>




  

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>   
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script>
      $(document).ready(()=>{

        //////
        $('#cancelCreate').click(function(){
            $('#create-modal').modal('hide');
        });
               
        $('#create-confirmed').click(function(){
                    let state_section =  $('#newKey').find('.state')
                  

                    let btn = $(this);
                    let form_data = $('#newKey').serialize();

                    btn.html(`<div class="spinner-border spinner-border-sm" role="status">
                    <span class="sr-only">Loading...</span>
                    </div>`);
                    state_section.addClass('alert-success').removeClass('alert-danger').html(`Generating Key. Please wait <div class="spinner-border spinner-border-sm" role="status">
                    <span class="sr-only">Loading...</span>
                    </div> `);
                
          
                    $.post('/accounts/create/user/',form_data,(res)=>{
                   
                        $('#newKey')[0].reset();
                        state_section.addClass('alert-success').removeClass('alert-danger').html(`API key created <i class="fa fa-check"></i> .<br>- user : <span class="bg-light"><code>${res.user}</code></span><br>- key: <span class="bg-light"><code>${res.key}</code></span>`);
                        btn.html('Create');
                        setTimeout(()=>{
                                    window.location.reload();
                                },2000);

                    }).catch((err)=>{
                      
                        state_section.addClass('alert-danger').removeClass('alert-success').html(`<b>Failed to create API key : </b><br> - ${err.responseJSON.error}`);
                        btn.html("Create");
                        setTimeout(()=>{
                                    window.location.reload();
                                },2000);
                 

                    })

                    
                   
                })
               
     
            //get all keys and add to table
            $.get('/accounts/get/users/',(res)=>{
                let users = res.users
                let rows = ``;
                let keyloader = $('#loadKeys')

                if(users.length == 0){
                    keyloader.html(`No keys available`)
                }
                
                users.forEach((user)=>{
                    let can_select = user.can_select
                    let can_insert = user.can_insert
                    let can_update = user.can_update
                    let can_delete = user.can_delete
                    let is_super = user.is_super
                    let is_super_html = ``
                    if(is_super == 'Y'){
                        is_super_html = `<i class="fa text-success fa-check"></i>`
                    }
                    let can_select_html = ``
                    if(can_select == 'Y'){
                        can_select_html = `<i class="fa text-success fa-check"></i>`
                    }
                    let can_insert_html = ``
                    if(can_insert == 'Y'){
                        can_insert_html = `<i class="fa text-success fa-check"></i>`
                    }
                    let can_update_html = ``
                    if(can_update == 'Y'){
                        can_update_html = `<i class="fa text-success fa-check"></i>`
                    }
                    let can_delete_html = ``
                    if(can_delete == 'Y'){
                        can_delete_html = `<i class="fa text-success fa-check"></i>`
                    }
                    rows += `
                    <tr>
                      <td>  <input type="text" style="width:80%" class="border-0 user text-center " value="${user.key_user}" disabled >  <button class="btn border border-2 text-muted btn-light copybtn"><i class="fa fa-copy"></i></button>  </td>
                      <td> <input style="width:70%" disabled class="key text-center border-0" type="password" value="${user.key_value}">  <button class="btn showkeybtn btn-light text-muted"><i class="fa fa-eye "></i> </button>  <button class="btn btn-light text-muted copybtn"><i class="fa fa-copy"></i></button>  </td>
                      <td class="text-center">${is_super_html}</td>
                      <td class="text-center">${can_select_html}</td>
                      <td class="text-center">${can_insert_html}</td>
                      <td class="text-center">${can_update_html}</td>
                      <td class="text-center">${can_delete_html}</td>
                      <td data-user="${user.key_user}" data-key="${user.key_value}"> <button data-bs-toggle="modal"  class="btn btn-sm disabled" data-bs-target="#delete-modal">  <i class="fa text-info fa-pencil-alt"></i> </button> </td>
                      <td data-user="${user.key_user}" data-key="${user.key_value}"> <button data-bs-toggle="modal"  class="btn btn-sm  btn-light delete-modalbtn" data-bs-target="#delete-modal">   <i class="fa text-danger fa-trash-alt"></i> </button> </td>
                    
                      </tr>
                    
                    `
                })
                
                 $('#apis_table tbody').html(rows);
                 $('#apis_table').removeClass('d-none');
                 keyloader.html('Total API keys available : '+users.length)
                 allow_key_actions()
                 //add datatables
            }).catch((err)=>{
                $('#loadKeys').html(`Something isn't right with our servers. Try again later`)
            });


            function allow_key_actions(){
                        //toggle password showing
                        $('.showkeybtn').click(function(){
                                    let input = $(this).parent().find('input');
                            
                                
                                    if (input.attr('type') == 'password'){
                                        input.attr('type','text');
                                        $(this).html('<i class="fa fa-eye-slash"></i>');
                                    }else{
                                        input.attr('type','password');
                                        $(this).html('<i class="fa fa-eye"></i>');
                                    }   
                                
                                });

                        //copy function
                        
                        $('.copybtn').click(function(){
                            let input = $(this).parent().find('input');
                            const text = input.val();

                            navigator.clipboard.writeText(text);

                            input.val('copied');
                            //check if its password, if so, toggle
                            if(input.attr('type') == 'password'){
                                $(input).attr('type','text');
                            }

                            setTimeout(()=>{
                            
                                if(input.attr('type') == 'text'){
                                    $(input).attr('type','password');
                                }
                                input.val(text);
                            },2000);


                                
                            })     
                        
                        $('.delete-modalbtn').click(function(){
                     
                            let key = $('#activeKey').val($(this).parent().attr('data-user'));
                            $('#currentUser').html('<code>'+$(this).parent().attr('data-user')+'</code>');  
                        })
                 
                        $('#cancelDelete').click(function(){
                            $('#delete-modal').modal('hide');
                        }); 
                        $('#delete-confirmed').click(function(){
                            const default_text = ` <p>Are you sure you want to delete api key for <span id="currentUser"></span> ?</p>`
                            let modal_body = $('#delete-modal .modal-body');
                            let key = $('#activeKey').val();
                            $('#cancelDelete').addClass('disabled');
                        

                            modal_body.html(`<div class="alert alert-info">Deleting key. Please wait <div class="spinner-border spinner-border-sm" role="status">
                            <span class="sr-only">Loading...</span>
                            </div> </div>`);

                            $.post('/accounts/delete/user/',"key="+key+'&csrfmiddlewaretoken='+$('input[name="csrfmiddlewaretoken"]').val(),(res)=>{
                                modal_body.html('<div class="alert alert-success"> Key has been deleted <i class="fa fa-check"></i> </div>');
                           

                                setTimeout(()=>{
                                    window.location.reload();
                                },2000);

                            }).catch((err)=>{

                                modal_body.html(`<div class="alert alert-danger"> Failed to delete key : <br> - ${err.responseJSON.error}</div>`);
                                $('#cancelDelete').removeClass('disabled');
                                setTimeout(()=>{
                                    window.location.reload();
                                },2000);
                        

                             })

                         })

          
             }

          
             

 
      })
  </script> 
</body>
</html>